<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=768">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Профиль пользователя @ Timus Online Judge</title>
    <link rel="alternate" hreflang="x-default" href="https://acm.timus.ru/author.aspx?id=291307">
    <link rel="alternate" hreflang="en-us" href="https://acm.timus.ru/author.aspx?id=291307&amp;locale=en">
    <link rel="alternate" hreflang="ru-ru" href="https://acm.timus.ru/author.aspx?id=291307&amp;locale=ru">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='timus-style.css') }}">
    <link rel="shortcut icon" type="image/x-icon" href="https://acm.timus.ru/favicon.ico">
</head>
<body>
<table width="100%" cellspacing="0" cellpadding="0" class="body">
    <tbody>
    <tr>
        <td class="caption">
            <table width="100%" cellspacing="0" cellpadding="0">
                <tbody>
                <tr>
                    <td width="130" class="locale"><a href="https://acm.timus.ru/author.aspx?id=291307&amp;locale=en">ENG</a>&nbsp;&nbsp;<a
                            href="https://acm.timus.ru/author.aspx?id=291307&amp;locale=ru">RUS</a></td>
                    <td class="title"><a href="https://acm.timus.ru/">Timus Online Judge</a></td>
                    <td width="130"></td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <tr>
        <td class="panel">
            <table width="100%" cellspacing="0" cellpadding="0">
                <tbody>
                <tr>
                    <td width="130" valign="TOP" align="CENTER" style="padding-bottom:5px;"><a
                            href="https://acm.timus.ru/"><img border="0" src="{{ url_for('static', path='usu-summer.jpg') }}"
                                                              height="134" width="106" alt=""></a></td>
                    <td valign="TOP" align="LEFT">
                        <table width="100%" cellspacing="0" cellpadding="0" class="panel">
                            <tbody>
                            <tr>
                                <th width="25%">
                                    <div>Online Judge</div>
                                </th>
                                <th width="25%">
                                    <div>Задачи</div>
                                </th>
                                <th width="25%">
                                    <div>Авторы</div>
                                </th>
                                <th width="25%">
                                    <div>Соревнования</div>
                                </th>
                            </tr>
                            <tr>
                                <td valign="TOP" align="LEFT"><a href="https://acm.timus.ru/">О системе</a><br><a
                                        href="https://acm.timus.ru/help.aspx?topic=faq">Часто задаваемые вопросы</a><br><a
                                        href="https://acm.timus.ru/news.aspx">Новости сайта</a><br><a
                                        href="https://acm.timus.ru/forum/">Форум</a><br><a
                                        href="https://acm.timus.ru/help.aspx?topic=links">Ссылки</a><br></td>
                                <td valign="TOP" align="LEFT"><a href="https://acm.timus.ru/problemset.aspx">Архив
                                    задач</a><br><a href="https://acm.timus.ru/submit.aspx">Отправить на
                                    проверку</a><br><a href="https://acm.timus.ru/status.aspx">Состояние
                                    проверки</a><br><a href="https://acm.timus.ru/help.aspx?topic=judge">Руководство</a><br>
                                </td>
                                <td valign="TOP"><a href="https://acm.timus.ru/register.aspx">Регистрация</a><br><a
                                        href="https://acm.timus.ru/authedit.aspx">Исправить данные</a><br><a
                                        href="https://acm.timus.ru/ranklist.aspx">Рейтинг авторов</a><br>
                                    <form action="https://acm.timus.ru/search.aspx" method="GET"
                                          style="margin-top:0.6em;"><input name="Str" size="12" value=""
                                                                           placeholder="Имя автора"> <input
                                            type="SUBMIT" value="Поиск"></form>
                                </td>
                                <td valign="TOP"><a href="https://acm.timus.ru/contest.aspx">Текущее
                                    соревнование</a><br><a
                                        href="https://acm.timus.ru/schedule.aspx">Расписание</a><br><a
                                        href="https://acm.timus.ru/archive.aspx">Прошедшие соревнования</a><br><a
                                        href="https://acm.timus.ru/help.aspx?topic=contest">Правила</a><br></td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <tr>
        <td style="padding-top: 32px; padding-bottom: 20px;">
            <table align="CENTER" cellspacing="0" cellpadding="0">
                <tbody>
                <tr>
                    <td width="795" align="CENTER">
                        <h2 class="title">Карта решенных задач</h2>
                        <table class="solved_map_box" cellspacing="0" cellpadding="0">
                            <tbody>
                            <tr>
                                <td>
<!--                                    <table class="solved_map_links" cellspacing="0" cellpadding="0" width="100%">-->
<!--                                        <tbody>-->
<!--                                        <tr>-->
<!--                                            <td align="LEFT">Упорядочить по <a-->
<!--                                                    href="https://acm.timus.ru/author.aspx?id=291307&amp;sort=id"-->
<!--                                                    rel="nofollow">тому и номеру</a>&nbsp;| <a-->
<!--                                                    href="https://acm.timus.ru/author.aspx?id=291307&amp;sort=volumedifficulty"-->
<!--                                                    rel="nofollow">тому и сложности</a>&nbsp;| <a-->
<!--                                                    href="https://acm.timus.ru/author.aspx?id=291307&amp;sort=difficulty"-->
<!--                                                    rel="nofollow" class="active_filter">сложности</a></td>-->
<!--                                        </tr>-->
<!--                                        </tbody>-->
<!--                                    </table>-->
                                    <form action="" method="get">
                                        <input type="datetime-local" name="date">
                                        <input type="submit" value="Отправить">
                                    </form>

                                    <div class="attempts_list">
                                        {% for task in tasks %}
                                        <div class="{{ task.verdict.value }}">
                                            <a href="https://acm.timus.ru/problem.aspx?space=1&num={{ task.number }}" title="{{ task.title }}">{{ task.number }}</a>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>